<body>
    <!-- Preloader -->
    <!-- <div class="preloader d-flex align-items-center justify-content-center">
      <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div> -->

    <!-- ##### Header Area Start ##### -->


    <header class="header-area">


        <!-- <div style="background-color: #254290;">


          <div class="top-header-area-icon">
              <div class="container h-100">
                  <div class="row h-100 align-items-center">
                      <div class="col-12 d-flex justify-content-between">

                          <div>
                              <a HREF="https://www.facebook.com/upf.ac.ma/" target="_blank"><i
                                      class="fab fa-lg fa-facebook-square" style="color:#4267B2;"></i></a>
                              <a HREF="https://www.instagram.com/universitepriveefes/?hl=fr" target="_blank"> <i
                               <a HREF="https://twitter.com/universite_fes" target="_blank"><i
                                      class="fab fa-lg fa-twitter" style="color:#1DA1F2;"></i></a>
                              <a HREF="https://www.youtube.com/channel/UCYiUbe7WNPHH_JQGf_I_TnA" target="_blank"><i
                                      class="fab fa-lg fa-youtube" style="color:#FF0000;"></i></a>
                              <a HREF="tel:0021535610320" aria-hidden="true" class="value"><i
                                      class="fas fa-lg fa-phone-square-alt" style="color:#00834d;"></i></a>
                          </div>


                          <div class="top-contact-info d-flex align-items-center">
                              <a href="https://goo.gl/maps/YGfX8AgqoUdBZaQ99" target="_blank" data-toggle="tooltip"
                                  data-placement="bottom"
                                  title="Lotissement Quaraouiyine Route Ain Chkef, Fès 30000, Maroc"><img
                                      src="img/core-img/placeholder.png" alt=""> <span> Lotissement Quaraouiyine Route
                                      Ain
                                      Chkef, Fès 30000, Maroc</span></a>
                              <a href="https://mail.google.com/mail/u/0/?tab=wm#inbox" target="_blank"
                                  data-toggle="tooltip" data-placement="bottom" title=" info@upf.ac.ma"><img
                                      src="img/core-img/message.png" alt=""> <span> info@upf.ac.ma</span></a>


                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="underline"></div> -->

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">

                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="creditNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="logo">
                        &emsp;<img src="/assets/img/core-img/UPF Laureats.png" alt="" width="190">
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>


                        <!-- Nav End -->
                    </div>

                    <!-- Contact -->
                    <!--<a HREF="https://www.facebook.com/upf.ac.ma/" target="_blank"><i
                                      class="fab fa-lg fa-facebook-square" style="color:#ffffff; padding-right: 10px;" ></i></a>
                              <a HREF="https://www.instagram.com/universitepriveefes/?hl=fr" target="_blank"> <i
                                      class="fab fa-lg fa-instagram" style="color:#ffffff; padding-right: 10px;"></i></a>
                              <a HREF="https://twitter.com/universite_fes" target="_blank"><i
                                      class="fab fa-lg fa-twitter" style="color:#ffffff; padding-right: 10px;"></i></a>
                              <a HREF="https://www.youtube.com/channel/UCYiUbe7WNPHH_JQGf_I_TnA" target="_blank"><i
                                      class="fab fa-lg fa-youtube" style="color:#ffffff; padding-right: 10px;"></i></a>
                              <a HREF="tel:0535610320" aria-hidden="true" class="value"><i
                                      class="fas fa-lg fa-phone-square-alt" style="color:#ffffff; padding-right: 10px;"></i></a>-->


                </nav>
            </div>
        </div>

    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="hero-slideshow owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <!-- <h6 data-animation="fadeInUp" data-delay="100ms">2 years interest</h6> -->
                                <h2 data-animation="fadeInUp" data-delay="300ms">Offres <span>D'emploi</span></h2>
                                <p data-animation="fadeInUp" data-delay="500ms">Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p>
                                <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/5.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <!-- <h6 data-animation="fadeInDown" data-delay="100ms">2 years interest</h6> -->
                                <h2 data-animation="fadeInDown" data-delay="300ms">Évène<span>ment</span></h2>
                                <p data-animation="fadeInDown" data-delay="500ms">Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p>
                                <a href="#" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">Discover</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(/assets/images1/sonnasur.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <!-- <h6 data-animation="fadeInUp" data-delay="100ms">2 years interest</h6> -->
                                <h2 data-animation="fadeInUp" data-delay="300ms">Laur<span>éats</span></h2>
                                <p data-animation="fadeInUp" data-delay="500ms">Praesent aliquet ves tibulum tempus. Pellentesque posuere pharetra turpis, eget finibus erat porta placerat.</p>
                                <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

        </div>

    </div>
    <!-- ##### Hero Area End ##### -->

    <div class="container-fluid Car">
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/films/1848157.jpg-c_310_420_x-f_jpg-q_x-xxyxx.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/films/5661948.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/films/5848268.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/films/images1.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/films/images2.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images3.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images4.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images5.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images6.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images7.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images8.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images9.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images10.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images11.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images12.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/images13.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/im2.jpg);">

            </figcaption>
            <a class="project_link" href="/userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
        <figure class="project_item">
            <figcaption class="cta-thumbnail bg-img jarallax" style="background-image: url(/assets/images1/vk.jpg);">

            </figcaption>
            <a class="project_link" href="//userpages/note" target="_blank" style="color: #0527ae;">
                <b>Poursuivre</b>
            </a>
        </figure>
    </div>




    <!-- ##### Features Area Start ###### -->


    <!--<div class="row align-items-end">
                   <div class="col-12 col-sm-6 col-lg-3">
                       <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                      <div class="section-heading">
                          <div class="line"></div>
                          <h2>Nos Lauréats</h2>
                      </div>
                      <h6>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Viva mus rutrum dui fermentum eros
                          hendrerit.</h6>
                      <a href="#" class="btn credit-btn mt-50">Discover</a>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-1"></div>
              <div class="col-12 col-sm-6 col-lg-2">

                  <div style="width:250px; margin-bottom: 60px;" >
                      <img class="mySlides" src="/img/core-img/BARHDADI_Plan de travail 1 copie 5.jpg">
                      <img class="mySlides" src="/img/core-img/BOUDOUIK Mazin-27.jpg">
                      <img class="mySlides" src="/img/core-img/Carulage Masirika Karyl-38.jpg"><br>
                      <h5>INGÉNIERIE</h5>
                  </div>


              </div>
              <div class="col-12 col-sm-6 col-lg-1"></div>
              <div class="col-12 col-sm-6 col-lg-2">
                  <div style="width:250px; margin-bottom: 60px;">
                      <img class="mySlide" src="/img/core-img/BARHDADI_Plan de travail 1 copie 5.jpg">
                      <img class="mySlide" src="/img/core-img/BOUDOUIK Mazin-27.jpg">
                      <img class="mySlide" src="/img/core-img/Carulage Masirika Karyl-38.jpg"><br>
                      <h5>BUSINESS</h5>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-1"></div>
              <div class="col-12 col-sm-6 col-lg-2">
                  <div style="width:250px; margin-bottom: 60px;">
                      <img class="mySlider" src="/img/core-img/BARHDADI_Plan de travail 1 copie 5.jpg">
                      <img class="mySlider" src="/img/core-img/BOUDOUIK Mazin-27.jpg">
                      <img class="mySlider" src="/img/core-img/Carulage Masirika Karyl-38.jpg">
                      <h5>ARCHITECTURE & URBANISME</h5>
                  </div>

                  </div>

              </div>-->



    <!-- ##### Features Area End ###### -->


    <!-- ##### Call To Action End ###### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">About Us</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="/userpages/home">Home</a></li>
                                <li><a href="/userpages/list">Liste des films disponible</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>



            </div>
        </div>


        <!-- Copywrite Area -->
        <div class="copywrite-area tec ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 ">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center ">
                            <!-- Footer Logo -->


                            <!-- Copywrite Text -->
                            <p class="copywrite-text ">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js "></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js "></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js "></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js "></script>
    <!-- Active js -->
    <script src="js/active.js "></script>
</body>
