<div class="mr-auto container-fluid p-2 bg-cyan fg-white" style="width: 950px">
    <div class="row mt-2">
        <div class="col-8 ">


            <div class="row">
                <div class="main-header">

                </div>
            </div>
            <!-- 4-blocks row start -->
            <div class="row dashboard-header">
                <div class="col-lg-3 col-md-6">

                    <div class="mr-auto container-fluid p-2 bg-cyan fg-white" style="width: 1000px">

                        <div class="bootstrap-table">
                            <div class="row mt-2">
                                <div class="col-8 ">
                                    <div class="mr-auto container-fluid p-2 bg-cyan fg-white" style="width: 950px">
                                        <div class="row mt-2">
                                            <div class="col-8 ">
                                                <h1>Creer un utlisateur</h1>

                                            </div>
                                        </div>

                                        <form [formGroup]="usersForm" (ngSubmit)="submit()">
                                            <div class="form-group">

                                                <label for="Users">firstName</label>
                                                <input formControlName="firstName" type="text" id="Users" class="form-control" placeholder="Saisir..">
                                                <label for="Users">lastName</label>
                                                <input formControlName="lastName" type="text" id="Users" class="form-control" placeholder="Saisir..">
                                                <label for="Users">email</label>
                                                <input formControlName="email" type="text" id="Users" class="form-control" placeholder="Saisir..">
                                                <label for="Users">role </label>
                                                <input formControlName="role" type="text" id="Users" class="form-control" placeholder="Saisir..">
                                                <label for="Users">birthdate</label>
                                                <input formControlName="birthdate" type="datetime-local" id="Users" class="form-control" placeholder="Saisir..">
                                                <label for="Users">sex</label>
                                                <input formControlName="sex" type="text" id="Users" class="form-control" placeholder="Saisir..">
                                                <label for="Users">password</label>
                                                <input formControlName="password" type="text" id="Users" class="form-control" placeholder="Saisir..">

                                            </div>


                                            <button class="btn btn-outline-primary mt-3 btn-sm "> Ajouter</button>
                                        </form>
