<table class="table-responsive table table-striped table table-bordered border-primary" style="width: 100%;">

    <thead>
        <tr>
            <th scope=" col ">ID</th>
            <th scope="col ">Prenom</th>
            <th scope="col ">Nom</th>
            <th scope="col ">Role</th>
            <th scope="col ">Email</th>
            <th scope="col ">sexe</th>
            <th scope="col ">Birthday</th>
            <th scope="col ">Password</th>
            <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let c of listUsers ">
            <td>{{c.id}}</td>
            <td>{{c.firstName}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.role}}</td>
            <td>{{c.email}}</td>
            <td>{{c.sex}}</td>
            <td>{{c.birthdate}}</td>
            <td>{{c.password}}</td>

            <td>

                <div class="row ">
                    <div class="col ">
                        <button (click)="oneUpdate(c) " class=" btn btn-sm fa fa-edit btn-outline-info " href="/pages/Users/edit ">Update</button>
                    </div>
                    <div class=" col ">
                        <button (click)="oneDelete(c.id) " class="btn-sm btn btn-sm fa fas fa-remove btn-outline-danger ">Delete</button>
                    </div>

                </div>

            </td>



        </tr>

    </tbody>


</table>
