<h5>Modification des informations des films correspondantes</h5>
<form [formGroup]="filmForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" type="text" id="title" class="form-control" placeholder="Enter title...">

        <label for="author">Author</label>
        <input formControlName="author" type="text" id="author" class="form-control" placeholder="Enter author...">

        <label for="outDate">Out Date</label>
        <input formControlName="outDate" type="date" id="outDate" class="form-control" placeholder="Select date...">

        <label for="time">Time</label>
        <input formControlName="time" type="text" id="time" class="form-control" placeholder="Enter time...">

        <label for="categories">Categories</label>
        <input type="text" id="categories" formControlName="categories" placeholder="Entrer">
    </div>


    <button class="btn btn-outline-primary mt-3 btn-sm "> Ajouter</button>
</form>
