<div class="mx-auto container-fluid p-md-1 bg-cyan fg-white" style="width: 1200px; margin-right: 100px;">
    <div class="row mt-6">
        <div class="col-8 mx-auto text-center">
            <div class="bootstrap-table">
                <div class="row mt-2">
                    <div class="col-8 mx-auto">
                        <h1>Notes attribué par les utlisateurs</h1>

                    </div>
                </div>
                <div class="row ">
                    <div class="col--8">
                        <app-list (noteEmitted)="get($event)"> </app-list>
                    </div>

                </div>
